* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
body {
    background-color: bisque;
}

/* common */

.flex {
    display: flex;
}

* {
    color: white;
}

img {
    width: 100%;
}

/* header */

header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: black;
}

.nav-area {
    height: 100%;
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 12px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

ul li {
    margin: 0 5px;
    background-color: gray;
    border-radius: 3px;
    padding: 1px 3px;
}

/* main */

main {
    background-color: black;
}

.cards-container {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 180px);
    justify-content: space-between;
}

.card {
    position: relative;
    height: calc(100% / 5 - 5px);
    width: calc(100% / 7 - 5px);
    background-image: url("https://picsum.photos/246/146");
    background-size: cover;
}

.videocall-user {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    font-size: 12px;
    background-color: rgba(180, 172, 172, 0.8);
}